[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dss-cdp-manager"]
	path = lib/dss-cdp-manager
	url = https://github.com/makerdao/dss-cdp-manager
	branch = dss-v2.0
[submodule "lib/proxy-registry"]
	path = lib/proxy-registry
	url = https://github.com/makerdao/proxy-registry
	branch = solc-0.6
[submodule "lib/ds-weth"]
	path = lib/ds-weth
	url = https://github.com/makerdao/ds-weth
	branch = solc-0.6
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/makerdao/dss-gem-joins
	branch = dss-v2.0
