[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dss-cdp-manager"]
	path = lib/dss-cdp-manager
	url = https://github.com/makerdao/dss-cdp-manager
[submodule "lib/proxy-registry"]
	path = lib/proxy-registry
	url = https://github.com/makerdao/proxy-registry
[submodule "lib/ds-weth"]
	path = lib/ds-weth
	url = https://github.com/dapphub/ds-weth
